:root {
  --portal-color: [%% Portal_Color %%];
  --portal-accent-color: [%% Portal_Accent_Color %%];
  --text-color: [%% Text_Color %%];
  --cta-color: [%% CTA_Color %%];
}

.default-offer.default-offer--bg-a {
  background-color: [%% Background_Color %%];
}

.template {
  background-color: [%% Background_Color %%];
}

.account-head {
  background-image: url("[%% Header_URL %%]");
  background-size: cover;
  background-position: 10% 0;
  min-height: [%% BG_min_height_desktop %%];
  border-bottom: none;
}

.space-badge--top img {
  display: [%% Badge_Visibility %%];
  width: 17%;
  float: right;
  position: absolute;
  right: 3%;
  top: 0;
}

.space-badge--top--round img {
  display: [%% Badge_Visibility %%];
  width: 40%;
  float: right;
  position: absolute;
  right: 3%;
  top: 5%;
}

h1 {
  color: var(--portal-color);
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.25em;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

h3 {
  color: var(--portal-color);
  font-family: FiraSansRegular, sans-serif;
  font-size: 1.65em;
  font-weight: 700;
  line-height: 1.25em;
}

.subline {
  color: var(--text-color);
  font-size: 1.25em;
  line-height: 1.75em;
}

li,
li strong {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}
li strong {
  color: var(--portal-color);
  font-weight: 700;
}

.custom-offer-list li {
  color: var(--text-color);
  font-size: 1.25em;
  line-height: 1.75em;
  list-style: none;
}

.custom-offer-list li:before {
  color: var(--portal-color);
  content: "[%% List_Point_Symbol %%]";
  font-size: [%% List_Point_Symbol_Size %%];
  font-weight: 700;
  margin-right: 0.25em;
  vertical-align: middle;
}

.btn {
  max-width: 250px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  float: right;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  background: var(--cta-color, var(--portal-color));
  color: [%% CTA_Text_Color %%];
}
.btn:hover {
  background: [%% CTA_Hover_Color %%];
}

.logo {
  background-image: url("[%% Logo_URL %%]");
  background-repeat: no-repeat;
  border-radius: 0%;
  display: block;
  height: 4em;
  width: [%% Logo_Size %%];
}

.space--page-left,
.start-screen-content {
  padding-left: 2rem;
}

.space--top {
  margin-top: 1.5em;
}

.space--page-double-top {
  padding-top: 1rem;
}

.space--top-double {
  margin-top: 1rem;
}

.show-mobile-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .space-mobile--page-double {
    padding-left: 0rem;
    padding-right: 1rem;
  }

  .space--page-left,
  .start-screen-content {
    padding-left: 1rem;
  }

  h1 {
    font-size: 2em;
  }
}

.plusLink {
  color: var(--portal-color);
  margin-top: 1em;
}

.default-offer {
  color: #fff;
  display: block;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  padding: 2rem;
  padding-bottom: 0rem;
  min-height: 250px;
}

.offer-terms p {
  color: var(--text-color);
}

.sso-link {
  color: var(--portal-color);
}

.login-bar {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .default-offer {
    padding: 0;
    min-height: auto;
  }
}

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile-only {
    display: inline;
  }

  .login-bar {
    margin-top: 15px;
  }

  .account-head {
    background-image: url("[%% Header_URL_mobile %%]");
    background-position: 10% 0;
    min-height: [%% BG_min_height_mobile %%];
    width: 100%;
  }

  .account-head--fallback {
    background-image: url("[%% Header_URL %%]");
  }

  .default-offer--inner {
    display: block;
  }
  .space--top {
    margin-top: 1.2em;
  }
  h1 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  .custom-offer-list li {
    font-size: inherit;
    display: block;
  }
  p.lead {
    font-size: 1em;
  }
  .logo {
    height: 3em;
    width: calc([%% Logo_Size %%] - 5%);
  }
  .space-mobile--page-double {
    padding: 0 0.75rem;
  }
  .btn {
    display: block;
    float: unset;
    margin-left: 0rem;
    margin-right: 0rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .space-badge--top img {
  }
}

.hide-it {
  display: none;
}

@media screen and (max-width: 767px) {
  .hide-tablet {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .hide-desktop {
    display: none;
  }
}
