.firstclass {
  font-size: 40px;
  text-decoration: underline;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
  background-color: lightgray;
  color: black;
}

#cta-wrapper {
  background-color: lightgoldenrodyellow;
  width: 85px;
  height: 55px;
  margin: 2em;
}

#wide-wrapper {
  background-color: lightgreen;
  width: 980px;
  height: 46px;
  margin: 2em;
}

#mobile-wrapper {
  background-color: lightblue;
  width: 390px;
  height: 50px;
  margin: 2em;
}

#spacer {
  margin: 4em;
}

.flex-container {
  display: flex;
}

@font-face {
  font-family: FiraSansBold;
  src: url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-bold/fira-sans-bold.eot");
  src: url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-bold/fira-sans-bold.eot?#iefix") format("embedded-opentype"), url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-bold/fira-sans-bold.woff2") format("woff2"), url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-bold/fira-sans-bold.ttf") format("truetype");
}
@font-face {
  font-family: FiraSans;
  src: url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-regular/fira-sans-regular.eot");
  src: url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-regular/fira-sans-regular.eot?#iefix") format("embedded-opentype"), url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-regular/fira-sans-regular.woff2") format("woff2"), url("https://www.waz.de/resources/fonts/fira-sans/fira-sans-regular/fira-sans-regular.ttf") format("truetype");
}
.plus-banner {
  background: #3669ba;
  color: #fff;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  min-height: 50px;
  transition: all 0.2s ease-out;
  font-family: FiraSansBold, sans-serif;
}

.plus-banner__body {
  background: #eee;
  height: 165px;
  padding: 16px 36px;
}

h3 {
  color: #525252;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
}

.btn {
  background: #3669ba;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  display: block;
  padding: 12px;
  text-decoration: none;
  margin: 16px 0 12px;
  text-align: center;
}

.plus-banner__head {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 50px;
  cursor: pointer;
}

.plus-banner.sticky-hidden {
  display: none;
}

.container-text {
  display: block;
  margin: auto 8px;
}

.plus-banner__text {
  font-size: 16px;
  font-family: FiraSansBold, sans-serif;
}

.container-logo {
  display: block;
  margin: auto 0;
}

.plus-logo {
  margin: 0 12px;
  background: url("https://extracontent.waz.de/nrw-waz/media/paywall-logo.svg") no-repeat center;
  width: 60px;
  max-width: 60px;
  height: 32px;
  background-size: contain;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 95%;
}

.plus-banner__close {
  background: url(https://extracontent.waz.de/nrw-waz/media/close-24px.svg) no-repeat center;
  width: 44px;
  height: 44px;
  margin: 0 auto;
  background-size: 30%;
}

.plus-banner__cta {
  display: inline-flex;
  border-color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 0px 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  margin: 0 5px;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.plus-banner__close_x {
  background: url(https://extracontent.waz.de/nrw-waz/media/close-24px.svg) no-repeat center;
  width: 25px;
  height: 25px;
  margin-left: auto;
  background-size: 30%;
  display: block;
  position: relative;
  background-color: blue;
  /* border-radius: 52% 50%; */
  border: 0px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #3669ba;
  border-bottom-color: transparent;
  border-right-color: transparent;
  /* float: right; */
}

.plus-icon {
  margin-right: 12px;
  background: url("../img/icon_gift_white.svg") 0 0 no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
}

.logo-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.animateElement-entry__shake {
  animation: shake 500ms linear 0s 3 normal none;
}
@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.animateElement-entry__splash {
  color: #fff;
  opacity: 1;
  animation: 1s anim-popoutin ease;
}

@keyframes anim-popoutin {
  0% {
    color: white;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 white(0, 0, 0, 0);
  }
  25% {
    color: white;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px white(0, 0, 0, 0.5);
  }
  50% {
    color: white;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 white(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 white(0, 0, 0, 0);
  }
}
.animateElement-entry__ease {
  color: #fff;
  opacity: 1;
  transition: all 1s ease;
}

.animateElement-exit__ease {
  color: #fff;
  opacity: 0;
  transition: all 1s ease;
}

.animateElement-entry__slide {
  animation: slideIn 1s ease 0s 1 normal forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateElement-exit__slide {
  animation: slideOut 1s ease 0s 1 normal forwards;
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}

.animateElement-entry__fade {
  animation: fadeIn 1s ease 0s 1 normal forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animateElement-exit__fade {
  animation: fadeOut 1s ease 0s 1 normal forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

.animateElement-exit__rightOut {
  animation: slideRight 1s ease 0s 1 normal forwards;
}
@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}/*# sourceMappingURL=style-tp-mob.css.map */